* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(182, 172, 172);
}

.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

.imgsignup {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    transition: 1s;
    background-color: white;
    border: 1px solid;
    color: black;
}